<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/iconfont/material-icons.css">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
</head>

<body>
    <div class="row">
        <div class="col l2">
            <a href="#modal1" class="modal-trigger">
                <div class="card-panel white z-depth-5">

                    <span>Etudiant</span>

                </div>
            </a>

            <a href="#modal2" class="modal-trigger">
                <div class="card-panel white z-depth-5">

                    <span>Programme</span>

                </div>

            </a>

            <a href="#modal3" class="modal-trigger">
                <div class="card-panel white z-depth-5">

                    <span>Atelier</span>

                </div>
            </a>

            <a href="#modal4" class="modal-trigger">
                <div class="card-panel white z-depth-5">

                    <span>Evenement</span>

                </div>
            </a>
            <a href="#modal5" class="modal-trigger">
                <div class="card-panel white z-depth-5">

                    <span>Cour et evaluation</span>

                </div>
            </a>
            <a href="#modal6" class="modal-trigger">
                <div class="card-panel white z-depth-5">

                    <span>Historique image evenement</span>

                </div>
            </a>
            <a href="#modal7" class="modal-trigger">
                <div class="card-panel white z-depth-5">

                    <span>Historique video evenement</span>

                </div>
            </a>
            <a href="#modal8" class="modal-trigger">
                <div class="card-panel white z-depth-5">

                    <span>Description de l'ecole</span>

                </div>
            </a>





        </div>
        <div class="col l7">
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img src="https://images.unsplash.com/photo-1464817739973-0128fe77aaa1?dpr=1&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=">
                        <!-- random image -->
                        <div class="caption center-align">
                            <h3>This is our big Tagline!</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="https://ununsplash.imgix.net/photo-1414849424631-8b18529a81ca?q=75&fm=jpg&s=0e993004a2f3704e8f2ad5469315ccb7">
                        <!-- random image -->
                        <div class="caption left-align">
                            <h3>Left Aligned Caption</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="https://ununsplash.imgix.net/uploads/1413259835094dcdeb9d3/6e609595?q=75&fm=jpg&s=6a4fc66161293fc4a43a6ca6f073d1c5">
                        <!-- random image -->
                        <div class="caption right-align">
                            <h3>Right Aligned Caption</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col l3">

            <div class="card-panel white z-depth-5">

                <span>GALERIE IMAGE</span>

            </div>
            <span>tout pour dieu</span>
            <span>Avec dieu et les hommes</span>
            <span>Avec dieu et les hommes</span>


            <div class="card-panel white z-depth-5">

                <span>GALERIE VIDEO</span>

            </div>





        </div>







    </div>


    <div id="modal1" class="modal" style="background-color:maroon ">
        <div class="modal-content">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate">
                            <label for="email">RECHERCHER UN ETUDIANT</label>
                            <span class="helper-text" data-error="wrong" data-success="right">Mot clé</span>
                            <span>lllllllllllllllllllllll</span>
                        </div>
                    </div>
                </form>
            </div>
            <a class="waves-effect waves-light btn red right"><i class="material-icons left">search</i>RECHERCHER</a>
            <a class="waves-effect waves-light btn red left"><i class="material-icons left">all</i>VOIR Tout</a>

















        </div>

        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
    </div>


    <div id="modal2" class="modal" style="background-color:#edf1f7 ">
        <div class="modal-content">

            <iframe src="support-C++-classes.pdf" style="width: 850px" height="400px"></iframe>




            <a class="waves-effect waves-light btn red modal-trigger right" href="#newprog"><i class="material-icons left">edit</i>NOUVEAU Progr.</a>






        </div>

        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
    </div>


    <div id="newprog" class="modal" style="background-color:#edf1f7 ">
        <div class="modal-content">

            <div class="file-field input-field">
                <div class="btn">
                    <span>Programme</span>
                    <input type="file" multiple>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload one or more files">
                </div>
            </div>
            <a class="waves-effect waves-light btn red modal-trigger right" href="#newprog"><i class="material-icons left">add</i>Ajouter</a>


        </div>

        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
    </div>

    <div id="modal3" class="modal" style="background-color:#edf1f7 ">
        <div class="modal-content">


            <div class="row">
                <div class="input-field col s6 l6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Intitulé de l'atelier</label>
                </div>


                <div class="input-field col s6 l6">
                    <i class="material-icons prefix">date</i>
                    <input id="icon_telephone" type="date" class="validate">
                    <label for="icon_telephone">Date</label>
                </div>


                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Description de l'atelier</label>
                </div>

                <div class="file-field col l12">
                    <div class="btn">
                        <span>AFFICHE</span>
                        <input type="file" multiple>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="uploader l'affiche de l'atelier">
                    </div>
                </div>

            </div>
            <a class="waves-effect waves-light btn red modal-trigger right"><i class="material-icons left">add</i>AJOUTER</a>
            <a class="waves-effect waves-light btn red modal-trigger left">Liste Atelier</a>
        </div>

        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
    </div>






    <div id="modal4" class="modal" style="background-color:#edf1f7 ">
        <div class="modal-content">

            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Nom de l'evenement</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">date</i>
                            <input id="icon_telephone" type="date" class="validate">
                            <label for="icon_telephone">Date</label>
                        </div>
                    </div>
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Affiche Evenement</span>
                            <input type="file" multiple>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload one or more files">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">Description Evenement</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6 l6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_lieu" type="text" class="validate">
                            <label for="icon_lieu">lieu</label>
                        </div>


                        <div class="input-field col s3 l3">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_lieu" type="text" class="validate">
                            <label for="icon_lieu">Nombre intervenant</label>
                        </div>
                        <div class="col s3 l3">
                            <a class="waves-effect waves-light btn red right"><i class="material-icons left">add</i>INTERVENANT</a>
                        </div>



                    </div>

                    <a class="waves-effect waves-light btn red right"><i class="material-icons left">save</i>SAUVEGARDER</a>
                    <a class="waves-effect waves-light btn red left"><i class="material-icons left">see</i>Historique Evenement</a>
                </form>
            </div>












        </div>

        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
    </div>





    <div id="modal5" class="modal" style="background-color:#edf1f7 ">
        <div class="modal-content">

            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Nom du cours</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">level</i>
                            <input id="icon_telephone" type="tel" class="validate">
                            <label for="icon_telephone">Niveau</label>
                        </div>
                    </div>
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>COURS pdf</span>
                            <input type="file" multiple>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload one or more files">
                        </div>
                    </div>

                    <div class="file-field input-field">
                        <div class="btn">
                            <span>COURS video</span>
                            <input type="file" multiple>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload one or more files">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">Description</label>
                        </div>
                    </div>

                    <a class="waves-effect waves-light btn red right"><i class="material-icons left">save</i>SAUVEGARDER</a>
                    <a class="waves-effect waves-light btn red left modal-trigger" href="#modalhistoriqueCourEvaluation"><i class="material-icons left">see</i>Tous les cours et Evaluation</a>
                </form>
            </div>



















        </div>

        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
    </div>


    <div id="modal6" class="modal" style="background-color:#edf1f7 ">
        <div class="modal-content">



            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">Nom de l'image</label>
            </div>
            <div class="file-field input-field">


                <div class="btn">
                    <span>iMAGE</span>
                    <input type="file" multiple>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload one or more files">
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Description</label>
                </div>
            </div>

            <a class="waves-effect waves-light btn red right modal-trigger " href="#modal6"><i class="material-icons left">save</i>SAUVEGARDER</a>
            <a class="waves-effect waves-light btn red left modal-trigger" href="#modal6"><i class="material-icons left">image</i>GALERIE</a>
        </div>

        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
    </div>

    <div id="modal7" class="modal" style="background-color:#edf1f7 ">
        <div class="modal-content">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">Nom de la video</label>
            </div>
            <div class="file-field input-field">


                <div class="btn">
                    <span>Video</span>
                    <input type="file" multiple>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload one or more files">
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materi
                    alize-textarea"></textarea>
                    <label for="textarea1">Description</label>
                </div>
            </div>

            <a class="waves-effect waves-light btn red right modal-trigger" href="#modal6"><i class="material-icons left">save</i>SAUVEGARDER</a>
            <a class="waves-effect waves-light btn red left modal-trigger" href="#modal6"><i class="material-icons left">movie</i>GALERIE</a>
        </div>



        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
    </div>


    <div id="modal8" class="modal" style="background-color:#edf1f7 ">
        <div class="modal-content">

        </div>

        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
    </div>

    <div id="modalintervenant" class="modal" style="background-color:#edf1f7 ">
        <div class="modal-content">

        </div>

        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
    </div>

    <div id="modallisteutilisateur" class="modal" style="background-color:#edf1f7 ">
        <div class="modal-content">
            <ul class="collection">
                <li class="collection-item avatar">
                    <img src="/images/yuna.jpg" alt="" class="circle">
                    <span class="title">Title</span>

                    <a href="#!" class="secondary-content"><i class="material-icons">delete</i></a>
                </li>
            </ul>

        </div>

        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
    </div>

    <div id="modalhistoriqueEvenement" class="modal" style="background-color:#edf1f7 ">
        <div class="modal-content">

        </div>

        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
    </div>

    <div id="modalhistoriqueCourEvaluation" class="modal" style="background-color:#edf1f7 ">
        <div class="modal-content">
            <ul class="collection">
                <li class="collection-item avatar">
                    <img src="/images/yuna.jpg" alt="" class="circle">
                    <span class="title">Title</span>

                    <a href="#!" class="secondary-content"><i class="material-icons">delete</i></a>
                </li>
            </ul>
        </div>

        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
    </div>




</body>
<script src="/js/jquery.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>

</html>